$module: 'filterFindModule';
.#{$module} {
    &__elem__icons {
        padding-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icons {
        color: $navigation--blue;
        cursor: pointer;
    }
    &__holder {
        display: block;
        text-align: center;
    }
    &__category__font{
        font-size: 20px;
    }
}
