/*Floating Element*/

$module: 'floatingModule';
%floatingContainerPlaceHolder {
    position: absolute;
    background-color: white;
    width: 35%;
    height: 100%;
    z-index: 1;
    border: 1px solid $cityKeyFontColor;
    box-shadow: 0 0 7px 0;
    animation-duration: 1s;
}

.#{$module} {
    &__container {
        @extend %floatingContainerPlaceHolder;
        animation-name: moveLeftToRight;
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
    }
    &__container__Running {
        @extend %floatingContainerPlaceHolder;
        animation-name: moveLeftToRight;
        -webkit-animation-play-state: running;
        animation-play-state: running;
    }
    &__container__Reverse {
        @extend %floatingContainerPlaceHolder;
        animation-name: moveRightToLeft;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    &__titleHolder {
        background-color: #00a1de;
        width: 100%;
        height: 40px
    }
    &__titleHolder__title {
        display: inline-block;
        width: 100%;
        height: 40px
    }
    &__titleHolder__title__text {
        color: white;
        padding-left: 10px;
        font-family: 'noa_light';
        font-size: 16px;
    }
    &__titleHolder__title__close {
        float: right;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
}

@media screen and (max-width: $smallDeviceScreenSize) {
    .#{$module} {
        &__container {
            width: 100%;
            position: absolute;
        }
        &__container__Running {
            animation-name: moveTopToBottom;
            width: 100%;
        }
        &__container__Reverse {
            animation-name: moveBottomToTop;
            width: 100%;
        }
    }
}

@keyframes moveLeftToRight {
    from {
        left: -2000px
    }
    to {
        left: 0
    }
}

@keyframes moveRightToLeft {
    from {
        left: 0
    }
    to {
        left: -2000px
    }
}

@keyframes moveTopToBottom {
    from {
        top: -2000px
    }
    to {
        top: 0
    }
}

@keyframes moveBottomToTop {
    from {
        top: 0
    }
    to {
        top: -2000px
    }
}
