@for $i from 0 through 20 {
    .p-l-#{$i} {
        padding-left: #{$i}px !important;
    }
}

@for $i from 0 through 20 {
    .p-r-#{$i} {
        padding-right: #{$i}px !important;
    }
}

@for $i from 0 through 20 {
    .p-t-#{$i} {
        padding-top: #{$i}px !important;
    }
}

@for $i from 0 through 20 {
    .p-b-#{$i} {
        padding-bottom: #{$i}px !important;
    }
}

@for $i from 0 through 200 {
    .m-t-#{$i} {
        margin-top:#{$i}px !important;
    }
}

@for $i from 0 through 50 {
    .m-r-#{$i} {
        margin-right:#{$i}px !important;
    }
}
