$module: 'headerModule';
%headerItemsPlaceholder {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.#{$module} {
    background-color: white;
    height: 100px;
    width: 100%;
    box-shadow: 0 2px 4px 0;
    position: relative;
    overflow: hidden;
    &__elem1__align {
        height: 60%;
        padding-left: 150px;
    }
    &__elem__showHideButton {
        @extend %headerItemsPlaceholder;
        width: 10%;
        height: 39px;
        background-color: $navigation--blue;
        color: white;
        font-size: 20px;
        border-bottom: 1px solid white;
    }
    &__glyphicon {
        display: flex;
        text-align: center;
        font-size: 20px;
        padding-bottom: 6px;
    }
    &__klm__icon {
        height: 48px;
        width: 200px;
    }
    &__skyteam__icon {
        height: 40px;
        width: 40px;
    }
    &__hr__align {
        margin: 0px;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    margin: auto;
    overflow-y: hidden;
    li {
        float: left;
        a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: $navigation--blue;
            font-family: 'lucida_sans';
        }
        a:hover {
            color: #000000;
        }
    }
}

@media screen and (max-width: $smallDeviceScreenSize) {
    .#{$module} {
        &__elem1__align {
            padding-left: 10px;
        }
    }
}
