$module: 'inspiredModule';
.#{$module} {
    &__images__holder {
        display: flex;
        margin-top: 10px;
        margin-left: 10px
    }
    &__images {
        width: 140px;
        height: 100px;
        padding-right: 10px
    }
}
