    $module: 'maincontent';
    .#{$module} {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow-y: scroll;
        overflow-x: hidden;
        &__travelGuideTitle {
            background-color: white;
            height: 100px;
            width: 380px;
            font-size: 60px !important;
            font-family: "noa_light";
            margin-top: 250px;
            margin-left: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__travelGuidePanelTitle {
            height: 40px;
            font-size: 18px;
            font-family: 'lucida_sans';
            margin: 25px 70px 0px 70px;
            padding-left: 10px;
            display: flex;
            align-items: center;
            justify-content: left;
            color: white;
            background-color: #003145;
        }
        &__searchResult {
            margin-left: 10%;
        }
        &__cityDetailsHolder {
            margin: 0px 70px 0px 70px;
            background-color: white;
            height: 100%;
        }
        &__cityDetailsHolder__desitnationCount {
            font-size: 40px !important;
            font-family: "noa_light";
            color: $navigation--blue;
            padding-left: 15px;
            padding-top: 10px;
        }
        &__departureTxt__font {
            font-family: "lucida_sans";
            font-size: 16px;
            font-weight: normal;
        }
        &--keyFonts {
            font-size: 12px;
            font-family: 'lucida_sans'
        }
        &--fontColor--blue {
            color: $cityKeyFontColor;
        }
        &--navigation--blue {
            color: $navigation--blue;
        }
        &__citySearchHolder {
            display: flex;
            height: 100%;
            border: 0.2px solid $navigation--blue;
            background-color: white
        }
        &__citySearchHolder__cityDetailsHolder__cityDetails {
            width: 55%;
            height: 100%;
            float: left
        }
        &__citySearchHolder__cityDetails__rate {
            width: 100%;
            height: 25%;
        }
        &__citySearchHolder__rate__elem1 {
            float: left;
        }
        &__citySearchHolder__rate__elem1__h3 {
            line-height: 0.8;
            margin-bottom: 0;
            padding-left: 10px;
            color: #005b82;
            font-family: 'lucida_sans'
        }
        &__citySearchHolder__rate__elem1__h2 {
            padding-left: 10px;
            margin-bottom: 8px;
            color: $navigation--blue;
            font-family: 'noa_light';
            line-height: 1.3;
            font-size: 32px;
            margin-top: 1px;
        }
        &__citySearchHolder__rate__elem2 {
            float: right;
            text-align: right;
            padding-top: 15px;
            padding-right: 10px
        }
        &__citySearchHolder__rate__elem2__span {
            font-weight: bold;
        }
        &__citySearchHolder__rate__elem2__a {
            text-decoration: none;
            display: block;
            cursor: pointer;
            font-family: 'lucida_sans';
        }
        &__citySearchHolder__rate__elem2__a__i {
            vertical-align: 11px;
            color: $navigation--blue;
            font-family: 'lucida_sans';
        }
        &__citySearchHolder__rate__elem2__a__em {
            font-size: 29px;
            line-height: 32px;
            color: $navigation--blue;
            font-family: 'lucida_sans';
        }
        &__cityDetailsHolder__elem2 {
            display: flex;
        }
        &__cityDetailsHolder__elem2_1 {
            width: 70%;
        }
        &__cityDetailsHolder__elem2_2 {
            width: 30%;
        }
        &__cityDetailsHolder__selectorStyle {
            height: 25px;
            width: 180px;
            border: 1px solid $navigation--blue;
        }
        &__cityDetails__descholder {
            width: 100%;
            height: 75%;
            clear: both
        }
        &__cityDetails__descText {
            font-size: 16px;
            line-height: 1.6;
        }
        &__cityDetails__cityDetailsBtn {
            font-size: 13px;
            text-decoration: none;
            text-align: center;
            display: inline-block;
            vertical-align: center;
            color: $navigation--blue;
            background: transparent;
            cursor: pointer;
        }
        &__cityDetails__cityDetailsBtn_about {
            display: inline-block;
            background: #07a2de;
            color: white;
            font-weight: bold;
            border-radius: 2px;
            padding: 5px 10px;
            font-family: 'lucida_sans';
            font-size: 13px;
        }
        &__cityDetails__divider {
            margin-right: 20px;
            margin-left: 20px;
        }
        &__cityDetails__keyHolder {
            display: flex;
            padding-bottom: 20px
        }
        &__citySearchHolder__cityDetailsHolder__cityImageHolder {
            width: 45%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__citySearchHolder__cityDetailsHolder__cityImage {
            max-width: 95%;
            max-height: 95%;
        }
        &__grid__template__header {
            cursor: pointer;
            display: flex;
            height: 30px;
            color: white;
            font-size: 20px;
            font-family: 'lucida_sans';
            padding-left: 10px;
            background-color: $navigation--blue;
        }
        &__grid__template__header__title__country {
            width: 70%;
        }
        &__grid__template__header__title__duration {
            width: 15%;
            text-align: right
        }
        &__grid__template__header__title__rate {
            text-align: right;
            width: 15%;
            margin-right: 10px;
        }
        &__grid__template__citydetails {
            margin-top: 10px;
            margin-left: 8px
        }
        &__cityDetailsHolder__footerStyle {
            width:100%;
            height: 150px;
            background-color: white;
        }
    }
    
    @media screen and (max-width: $smallDeviceScreenSize) {
        .#{$module} {
            left: 0px;
            width: 100%;
            &__travelGuideTitle {
                margin-top: 50px;
                margin-left: 10px;
            }
            &__travelGuidePanelTitle {
                margin: 25px 0 0 0;
            }
            &__searchResult {
                margin-left: 0;
            }
            &__cityDetailsHolder {
                margin: 0 0 0 0;
            }
            &__cityDetailsHolder__footerStyle {
                height: 100px;
            }
        }
    }
    
    @media screen and (max-width: $extraSmallDeviceScreenSize) {
        .#{$module} {
            &__citySearchHolder__rate__elem2 {
                float: left;
                text-align: left;
                padding-left: 10px;
            }
            &__cityDetails__cityDetailsBtn_about {
                font-size: 8px;
            }
            &__cityDetailsHolder__elem2 {
                display: block;
            }
            &__cityDetailsHolder__elem2_1 {
                width: 100%;
            }
            &__cityDetailsHolder__elem2_2 {
                width: 100%;
            }
            &--keyFonts {
                font-size: 10px;
            }
            &__travelGuideTitle {
                width: 280px;
                font-size: 45px !important;
            }
            &__grid__template__header {
                font-size: 18px;
            }
            &__departureTxt__font {
                font-size: 14px;
            }
            &__cityDetailsHolder__footerStyle {
                height: 50px;
            }
        }
    }
    /*Overwriting the "collapse" class for the placement of the div on collapsing -- need to be revisited*/
    
    .collapse {
        margin-top: 10px;
        margin-left: 8px
    }
    /*Overwriting bootstrap primary button*/
    
    %primarybuttonPlaceholder {
        background-color: white;
        color: $navigation--blue;
        border-color: $navigation--blue
    }
    
    .btn-primary {
        background-color: $navigation--blue;
        color: white;
        border-color: $navigation--blue;
        &:hover {
            @extend %primarybuttonPlaceholder
        }
        &:focus {
            @extend %primarybuttonPlaceholder
        }
        &:active {
            @extend %primarybuttonPlaceholder
        }
    }
