$module: 'sideNavContent';

/*.navigationList {
    height: 100%;
}*/

%navigationItemsPlaceholder {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.#{$module} {
    width: 10%;
    height: 100%;
    position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 0 7px 0;
    -webkit-transition: height 0.2s;
    transition: height 0.4s;
    &__elem__first {
        @extend %navigationItemsPlaceholder;
        width: 100%;
        height: 6%;
        background-color: $navigation--blue;
        color: white;
        font-size: 20px;
        border-bottom: 1px solid white;
    }
    &__elem__second {
        @extend %navigationItemsPlaceholder;
        width: 100%;
        height: 48%;
        background-color: $navigation--blue;
        color: white;
    }
    &__elem__third {
        @extend %navigationItemsPlaceholder;
        width: 100%;
        height: 48%;
        background-color: white;
        color: #003145;
        border: 1px solid $navigation--blue;
    }
    &__elem__first__glyphicon {
        display: flex;
        text-align: center;
        font-size: 20px;
        padding-bottom: 6px;
    }
    &__navigation__font {
        font-family: "lucida_sans";
        font-size: 14px;
        font-weight: normal;
        text-align: center;
    }
}

@media screen and (max-width: $smallDeviceScreenSize) {
    .#{$module} {
        width: 100%;
        height: 50px;
        position: relative;
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse;
        &__elem__first {
            width: 10%;
            height: 100%;
            border-bottom: none;
            border-left: 1px solid white;
        }
        &__elem__second {
            width: 45%;
            height: 100%;
        }
        &__elem__third {
            width: 45%;
            height: 100%;
        }
    }
}
