$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "../node_modules/sass-font-face/_font-face.scss";
@import "_config.scss";
@import "_floatingElement.scss";
@import "_filterFind.scss";
@import "_inspired.scss";
@import "_navigation.scss";
@import "_for.scss";
@import "_maincontent.scss";
@import "_header.scss";
@include font-face('noa_light', 'fonts/', 'NoaLight', '');
@include font-face('lucida_sans', 'fonts/', 'Lucida_Sans_Unicode', '');
body {
    background-image: url('../images/home/mainBg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    background-size: cover;
}

div {
    -webkit-user-select: none;
    /* Chrome, Opera, Safari */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}

/*common styles for application*/
a:hover {
    text-decoration: none;
}

.glyphicon--align {
    display: block;
    text-align: center;
    font-size: 40px;
    padding-bottom: 6px;
}
