<div class="m-l-10 m-r-10 maincontent__citySearchHolder">
    <div class="maincontent__citySearchHolder__cityDetailsHolder__cityDetails">
        <div class="maincontent__citySearchHolder__cityDetails__rate">
            <div class="maincontent__citySearchHolder__rate__elem1">
                <h3 class="maincontent__citySearchHolder__rate__elem1__h3">{{item.country}}</h3>
                <h2 class="maincontent__citySearchHolder__rate__elem1__h2">{{item.city}}</h2>
            </div>
            <div class="maincontent__citySearchHolder__rate__elem2">
                <span class="maincontent__citySearchHolder__rate__elem2__span">Return flight from:</span>
                <a class="maincontent__citySearchHolder__rate__elem2__a">
                    <i class="maincontent__citySearchHolder__rate__elem2__a__i">EUR</i>
                    <em class="maincontent__citySearchHolder__rate__elem2__a__em">{{item.returnFare}}
</em>
                </a>
            </div>
        </div>
        <div class="maincontent__cityDetails__descholder">
            <div class="maincontent__departureTxt__font maincontent__cityDetails__descText p-l-10 p-r-10 p-t-20 hidden-sm hidden-xs">
                {{ item.cityDetails | limitTo: textLimit }}{{item.cityDetails.length > textLimit ? '...' : ''}}
            </div>
            <a class="maincontent__cityDetails__cityDetailsBtn p-t-20 p-l-10">
                <span class="maincontent__cityDetails__cityDetailsBtn_about" data-toggle="modal" role="button" data-target="#myModal">Read all about {{item.city}} ></span>
            </a>
            <hr class="maincontent__cityDetails__divider"></hr>
            <div class="maincontent--keyFonts maincontent--fontColor--blue p-l-10 p-b-10" ng-cloak>
                <span class="glyphicon glyphicon-time"></span> {{Math.floor(item.travelMins/60)}}h {{item.travelMins%60}}min
            </div>
            <div>
                <div class="maincontent__cityDetails__keyHolder">
                    <div class="maincontent--keyFonts maincontent--fontColor--blue p-l-10" ng-show="{{item.cityKeys.indexOf('romance')!=-1}}"><span class="glyphicon glyphicon-heart"></span> Romance</div>
                    <div class="maincontent--keyFonts maincontent--fontColor--blue p-l-10" ng-show="{{item.cityKeys.indexOf('arts')!=-1}}"><span class="glyphicon glyphicon-sound-dolby"></span> Arts Culture </div>
                    <div class="maincontent--keyFonts maincontent--fontColor--blue p-l-10" ng-show="{{item.cityKeys.indexOf('food')!=-1}}"><span class="glyphicon glyphicon-glass"></span> Food Drink</div>
                </div>
            </div>
        </div>
    </div>
    <div class="maincontent__citySearchHolder__cityDetailsHolder__cityImageHolder">
        <img class="maincontent__citySearchHolder__cityDetailsHolder__cityImage img-thumbnail" ng-src="{{item.landmark}}" />
    </div>
</div>
<!-- Modal dialogue-->
<modal-popup></modal-popup>
</div>
