<div>
    <div class="filterFindModule__holder">
        <div class="maincontent__cityDetailsHolder__desitnationCount">{{items.length}} destinations</div>
        <hr></hr>
        <div class="maincontent__departureTxt__font">
            <span>Departure From: <span class="maincontent__departureTxt__font maincontent--navigation--blue">Amsterdam - Schiphol(AMS)</span></span>
        </div>
        <div class="filterFindModule__elem__icons">
            <span class="p-r-15 filterFindModule__icons">
                <div class="glyphicon--align glyphicon glyphicon-search"></div>
                <div class="filterFindModule__category__font">Search</div>
            </span>
            <span class="p-r-15 filterFindModule__icons">
                <div class="glyphicon--align glyphicon glyphicon-tag"></div>
                <div class="filterFindModule__category__font">Interest</div>
            </span>
            <span class="filterFindModule__icons">
                <div class="glyphicon--align glyphicon glyphicon-map-marker"></div>
                <div class="filterFindModule__category__font">Region</div>
            </span>
        </div>
    </div>
</div>
