<div ng-class="floatingContainerDynamicClass">
    <div class="floatingModule__titleHolder">
        <div class="floatingModule__titleHolder__title m-t-8">
            <span class="floatingModule__titleHolder__title__text">{{floatingTitle}}</span>
            <span ng-click="closeFloatingDiv()" class="floatingModule__titleHolder__title__close glyphicon glyphicon-remove-sign m-r-5"></span>
        </div>
    </div>
    <inspired-content ng-if="floatingModule=='inspired'"></inspired-content>
    <filterfind-content ng-if="floatingModule=='findFilter'"></filterfind-content>
</div>
