<div>
    <div ng-show="loaded" ng-if="currentLayout=='grid'" ng-repeat="item in items" class="p-r-20 p-l-20 p-b-10">
        <div data-toggle="collapse" data-target="#{{item.city}}" class="maincontent__grid__template__header">
            <div class="maincontent__grid__template__header__title__country">{{item.country}} - {{item.city}}</div>
            <div class="maincontent__grid__template__header__title__duration hidden-sm hidden-xs">{{Math.floor(item.travelMins/60)}}h {{item.travelMins%60}}min</div>
            <div class="maincontent__grid__template__header__title__rate hidden-sm hidden-xs">EUR {{item.returnFare}}</div>
        </div>        
        <div class="collapse out" id={{item.city}}>
            <route-details item="item" ng-class="layoutClass"></route-details>
        </div>
    </div>
</div>
