<div>
    <div ng-show="showHeader" class="headerModule">
        <div class="headerModule__elem1__align">
            <div>
                <span>
                <img class="headerModule__klm__icon" src="images/header/klm_logo.jpg" alt="KLM Logo">
            </span>
                <span>
                <img class="headerModule__skyteam__icon m-t-15" src="images/header/skyteam_logo.jpg" alt="Skyteam logo">
            </span>
            </div>
            <hr class="headerModule__hr__align"></hr>
            <div role="menubar">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#news">Plan and Book</a></li>
                    <li><a href="#contact">Prepare for travel</a></li>
                    <li><a href="#about">Customer Support</a></li>
                    <li><a href="#about">Destinations</a></li>
                    <li><a href="#about">Flying Blue</a></li>
                    <li><a href="#about">KLM for business</a></li>
                    <li><a href="#about">About KLM</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="showHeader" class="hidden-sm hidden-xs">
        <span class="headerModule__elem__showHideButton headerModule__glyphicon glyphicon glyphicon-upload" ng-click="showHideHeader()"></span>
    </div>
</div>
