<div class="inspiredModule__images__holder">
    <img class="inspiredModule__images" src="images/cities/Aalborg.jpg" />
    <img class="inspiredModule__images" src="images/cities/Delhi.jpg" />
</div>
