<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel panel-primary">
                <div class="panel-heading"><span class="glyphicon glyphicon-globe"></span></span> {{item.city}}</div>
                <div class="panel-body">
                    <div>{{item.cityDetails}}</div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 hidden-sm hidden-xs">
                            <div class="row">
                                <div class="maincontent--keyFontsSize maincontent--fontColor--blue pull-right p-r-4" ng-show="{{item.cityKeys.indexOf('romance')!=-1}}"><span class="glyphicon glyphicon-heart"></span> Romance</div>
                                <div class="maincontent--keyFontsSize maincontent--fontColor--blue pull-right p-r-4" ng-show="{{item.cityKeys.indexOf('arts')!=-1}}"><span class="glyphicon glyphicon-sound-dolby"></span> Arts Culture </div>
                                <div class="maincontent--keyFontsSize maincontent--fontColor--blue pull-right p-r-4" ng-show="{{item.cityKeys.indexOf('food')!=-1}}"><span class="glyphicon glyphicon-glass"></span> Food Drink</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
