<div>
    <div class="sideNavContent" role="navigation">
        <div class="sideNavContent__elem__first sideNavContent__elem__first__glyphicon" role="button" tabindex="1" ng-keypress="onNavigationKeyPress($event,'showHeader')" ng-click="showHideHeader()">
            <div class="glyphicon glyphicon-download" ng-show="!showHeader"></div>
            <div class="glyphicon glyphicon-upload" ng-show="showHeader"></div>
        </div>
        <div class="sideNavContent__elem__second" tabindex="2" ng-keypress="onNavigationKeyPress($event,'inspired')" role="button" ng-click="showContent('inspired')">
            <div>
                <div class="glyphicon--align glyphicon glyphicon-globe hidden-sm hidden-xs"></div>
                <div class="sideNavContent__navigation__font">Get Inspired</div>
            </div>
        </div>
        <div class="side--nav-font sideNavContent__elem__third" tabindex="3" role="button" ng-keypress="onNavigationKeyPress($event,'findFilter')" ng-click="showContent('findFilter')">
            <div>
                <div class="glyphicon--align glyphicon glyphicon-filter hidden-sm hidden-xs"></div>
                <div class="sideNavContent__navigation__font">Find & Filter</div>
            </div>
        </div>
    </div>
</div>
