<div>
    <div class="maincontent">
        <nagvigation-content></nagvigation-content>
        <header-content></header-content>
        <div class="maincontent__searchResult">
            <div role="banner" class="maincontent__travelGuideTitle maincontent--fontColor--blue">Travel guide</div>
            <div class="maincontent__travelGuidePanelTitle">Travel Guide</div>
            <div class="maincontent__cityDetailsHolder">
                <div class="maincontent__cityDetailsHolder__desitnationCount">{{items.length}} destinations</div>
                <div class="p-l-15 maincontent__cityDetailsHolder__elem2">
                    <div ng-show="loaded" class="maincontent__cityDetailsHolder__elem2_1 maincontent__departureTxt__font">Departure From: <span class="maincontent--navigation--blue">Amsterdam - Schiphol(AMS)</span></div>
                    <div class="p-r-15 maincontent__cityDetailsHolder__elem2_2">
                        <select class="maincontent__cityDetailsHolder__selectorStyle" ng-show="loaded" ng-model="sortingType" ng-options="sort.displayName for sort in sortingTypes">
                        </select>
                        <span ng-show="loaded" class="hidden-sm hidden-xs">
                        <button role="button" class="btn btn-primary glyphicon glyphicon-th-list" ng-click="changeLayout('list')"></button>
                    </span>
                        <span ng-show="loaded" class="hidden-sm hidden-xs">
                        <button role="button" class="btn btn-primary glyphicon glyphicon-menu-hamburger" ng-click="changeLayout('grid')"></button>
                    </span>
                    </div>
                </div>
                <div ng-show="loaded" class="maincontent--keyFonts p-t-15 p-l-15">
                    <span class="glyphicon glyphicon-hand-right"></span> Lowest available return fares, inlc.taxes and surcharges,excl.&euro;10 booking fee(credit card surcharge may apply)
                </div>
                <hr ng-show="loaded">
                <div ng-show="loaded" ng-if="currentLayout=='list'" ng-repeat="item in items" class="p-r-20 p-l-20 p-b-10">
                    <route-details item="item" ng-class="layoutClass"></route-details>
                </div>
                <div ng-if="currentLayout=='grid'">
                    <gridsearch-content></gridsearch-content>
                </div>
                <div class="maincontent__cityDetailsHolder__footerStyle"></div>
            </div>
        </div>
    </div>
    <floating-content></floating-content>
</div>
